/* body, html{
    margin: 0px;
    height: 100%;
}

.bg-image {
    background-image: url("../images/pianica.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */