/* .topnav itu gunanya buat tag class .topnav
. khusus class dan berlaku masal makanya .topnav <spasi> elemen di bawahnya kena semua
beda sama ID yang target bener2 satu elemen aja gitu! */
body, html{
  margin: 0px;
  height: 100%;
}

.bg-image {
  background-image: url("../images/pianica.JPG");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:sans-serif;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.8s;
}

.active {
  background-color: #ba9d6e;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}